## Checkpoint-5: Natural Language Processing

We start by importing all the libraries we need

In [1]:
import nltk
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize 
nltk.download('punkt')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import time, os

import numpy as np # linear algebra
import pandas as pd # data processing
# pd.set_option('display.max_colwidth', -1) # display the entire contents of each cell

import seaborn as sns # visualization
import matplotlib.pyplot as plt
%matplotlib inline
import re
import string
# from sklearn.cluster import KMeans
# from sklearn.feature_extraction.text import TfidfTransformer

import warnings
warnings.filterwarnings('ignore')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

We are using VADER which comes with a Sentiment Intensity Analyzer for sentiment analysis, which is an NLTK module that provides sentiment scores based on words used.

In [2]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

Reading the data(obtained using the following SQL query on DataGrip):


```
SELECT data_officerallegation.officer_id,
       data_allegation.summary,
       data_allegation.incident_date::TIMESTAMP::DATE as incident_date,
       data_officer.appointed_date,
       data_allegation.incident_date::TIMESTAMP::DATE-data_officer.appointed_date as time_of_employment
FROM data_allegation
    left join data_officerallegation on data_officerallegation.allegation_id = data_allegation.crid
    left join data_officer on data_officerallegation.officer_id = data_officer.id
WHERE data_allegation.summary != ''
  AND officer_id is not NULL
  AND incident_date is not NULL AND data_officerallegation.officer_id = data_officer.id;
```

In [3]:
df = pd.read_csv('NLP_csv.csv')
df = pd.DataFrame(df)

In [4]:
df

      officer_id  ... time_of_employment
0          16061  ...               3556
1          25864  ...               3151
2          23361  ...               3012
3          21210  ...               1406
4          16338  ...               1003
...          ...  ...                ...
1922       10317  ...                719
1923       27962  ...                719
1924       19785  ...                453
1925       26373  ...                453
1926       28758  ...                305

[1927 rows x 5 columns]

In [5]:
df.columns

Index(['officer_id', 'summary', 'incident_date', 'appointed_date',
       'time_of_employment'],
      dtype='object')

Checking for nulls and duplicates and removing if any exist:

In [6]:
df.isnull().sum()

officer_id            0
summary               0
incident_date         0
appointed_date        0
time_of_employment    0
dtype: int64

In [7]:
duplicateRowsDF = df[df.duplicated()]
duplicateRowsDF, duplicateRowsDF.shape

(Empty DataFrame
 Columns: [officer_id, summary, incident_date, appointed_date, time_of_employment]
 Index: [], (0, 5))

In [8]:
df = df[df['officer_id'].notna()]
df.shape

(1927, 5)

In [9]:
df['summary']

0       Four on?duty CPD officers ordered a crowd to d...
1       On 06 August 2009, a complaint was registered ...
2       In an incident involving an off-duty CPD offic...
3       On June 5, 2011, a complaint was registered wi...
4       On January 4, 2007, a complaint was registered...
                              ...
1922    On December 23, 2006, a complaint was register...
1923    On December 23, 2006, a complaint was register...
1924    On December 23, 2006, a complaint was register...
1925    On December 23, 2006, a complaint was register...
1926    On December 23, 2006, a complaint was register...
Name: summary, Length: 1927, dtype: object

In [10]:
df['summary'][0]

'Four on?duty CPD officers ordered a crowd to disperse from a City sidewalk. One of the individuals, refused that order and subsequent orders to disperse. In response, the officers approached - who then took a fighting posture. The officers then arrested -.'

In [11]:
df['summary'][1]

'On 06 August 2009, a complaint was registered with the Independent Police Review Authority (IPRA) regarding an incident that occurred in the 16th District, on August 4, 2009. It was alleged that a Chicago Police Department officer improperly handcuffed the complainant; handcuffed the complainant without justification; searched the residence of the complainant without consent and; threatened to arrest complainant in the event that the complainant should register a complaint against him. IPRA recommended to SUSTAIN the following allegations of violations committed by the accused: improperly handcuffed the complainant; handcuffed the complainant without justification and; searched the residence of the complainant without consent against the accused member based on corroborating witness statements, the officers statement, and reports. IPRA recommended a five (5) day suspension for the accused member.'

Text pre-processing: 
1. Removing digits and uncommon characters
2. Keeping sentences with at least 2 words

In [12]:
def text_to_word_list(text):
    text = str(text)

    # Clean the text
    text = re.sub(r"[^A-Za-z^,!?.\/'+]", " ", text)
    text = re.sub(r"\s{2,}", " ", text)
    return text

In [13]:
df['cleaned_summary'] = df['summary'].apply(lambda x: text_to_word_list(x))

In [14]:
df['cleaned_summary'][0]

'Four on?duty CPD officers ordered a crowd to disperse from a City sidewalk. One of the individuals, refused that order and subsequent orders to disperse. In response, the officers approached who then took a fighting posture. The officers then arrested .'

Tokenize to get a list of words and sentences to be able to compute lexical diversity (a measure of how many different words appear in a text ) of the vocabulary

In [15]:
words, sents = [], []
for text in df['cleaned_summary']:
        #sentence tokenization
        sents.append(sent_tokenize(text))
        #word tokenization
        words.append(word_tokenize(text))

In [16]:
sents[0]

['Four on?duty CPD officers ordered a crowd to disperse from a City sidewalk.',
 'One of the individuals, refused that order and subsequent orders to disperse.',
 'In response, the officers approached who then took a fighting posture.',
 'The officers then arrested .']

In [17]:
length_sents = [len(sublist) for sublist in sents]

In [18]:
avg = sum(length_sents)/len(length_sents)
avg

7.0435910742086145

In [19]:
word_list = [item for sublist in words for item in sublist]
#number of words in the text
text_words = len(word_list)
text_words

463250

In [20]:
unique_list = list(set(word_list)) 
#number of words in the vocabulary
vocab_words = len(unique_list) 
vocab_words

5285

In [21]:
lexical_diversity = vocab_words/text_words
lexical_diversity

0.011408526713437669

In [22]:
sid = SentimentIntensityAnalyzer()

Function sid.polarity_scores returns 4 elements :

neg : negative sentiment score.

neu : neutral sentiment score.

pos : positive sentiment score

compound : computed by normalising the scores above.

Compound value around zero signifies neutral sentiments.

In [23]:
df['scores'] = df['cleaned_summary'].apply(lambda summary: sid.polarity_scores(summary))
 
#We break the dict generated above and pull only column 'compound'

df['compound']  = df['scores'].apply(lambda s : s['compound'])
 
#the step above returns values from -1 to 1.  
df['positive_or_negative'] = df['compound'].apply(lambda n : 1 if n >=0 else 0)
 
df.head()

   officer_id  ... positive_or_negative
0       16061  ...                    0
1       25864  ...                    0
2       23361  ...                    0
3       21210  ...                    0
4       16338  ...                    0

[5 rows x 9 columns]

In [24]:
max(df['compound'])

0.9935

In [25]:
min(df['compound'])

-0.9999

In [76]:
rookie_df = df[df['time_of_employment'] <= 365]

In [27]:
rookie_df

      officer_id  ... positive_or_negative
62           430  ...                    0
89         32658  ...                    0
150         4486  ...                    0
163         9614  ...                    0
291        33034  ...                    0
327        15903  ...                    0
383         4255  ...                    0
406         6538  ...                    0
437        28136  ...                    0
901         3694  ...                    0
910         8804  ...                    0
1086        6321  ...                    0
1091       30548  ...                    0
1100       30971  ...                    0
1108       19280  ...                    0
1176       15945  ...                    1
1183       12801  ...                    0
1268       16762  ...                    0
1271       19530  ...                    0
1334        4841  ...                    0
1710       30806  ...                    0
1831        6699  ...                    0
1841       14813  ...                    0
1926       28758  ...                    0

[24 rows x 9 columns]

In [28]:
rookie_df.shape

(24, 9)

In [29]:
nonrookie_df = df[df['time_of_employment']>365]

In [30]:
nonrookie_df

      officer_id  ... positive_or_negative
0          16061  ...                    0
1          25864  ...                    0
2          23361  ...                    0
3          21210  ...                    0
4          16338  ...                    0
...          ...  ...                  ...
1921        8382  ...                    0
1922       10317  ...                    0
1923       27962  ...                    0
1924       19785  ...                    0
1925       26373  ...                    0

[1903 rows x 9 columns]

In [31]:
nonrookie_df.shape

(1903, 9)

In [32]:
df

      officer_id  ... positive_or_negative
0          16061  ...                    0
1          25864  ...                    0
2          23361  ...                    0
3          21210  ...                    0
4          16338  ...                    0
...          ...  ...                  ...
1922       10317  ...                    0
1923       27962  ...                    0
1924       19785  ...                    0
1925       26373  ...                    0
1926       28758  ...                    0

[1927 rows x 9 columns]

In [33]:
min(df['time_of_employment'])

-3428

In [34]:
df[df['time_of_employment']<0]

      officer_id  ... positive_or_negative
1710       30806  ...                    0

[1 rows x 9 columns]

In [35]:
df = df[df['time_of_employment'] > 0]

In [36]:
df = df.reset_index(drop = True)

In [37]:
df_bins = pd.qcut(df['time_of_employment'], 4, labels=None, retbins=False, precision=3, duplicates='raise')

In [38]:
df['bins'] = df_bins

In [39]:
df_bins

0       (2047.75, 3918.0]
1       (2047.75, 3918.0]
2       (2047.75, 3918.0]
3        (5.999, 2047.75]
4        (5.999, 2047.75]
              ...
1921     (5.999, 2047.75]
1922     (5.999, 2047.75]
1923     (5.999, 2047.75]
1924     (5.999, 2047.75]
1925     (5.999, 2047.75]
Name: time_of_employment, Length: 1926, dtype: category
Categories (4, interval[float64]): [(5.999, 2047.75] < (2047.75, 3918.0] < (3918.0, 6032.5] <
                                    (6032.5, 14423.0]]

In [40]:
df

      officer_id  ...               bins
0          16061  ...  (2047.75, 3918.0]
1          25864  ...  (2047.75, 3918.0]
2          23361  ...  (2047.75, 3918.0]
3          21210  ...   (5.999, 2047.75]
4          16338  ...   (5.999, 2047.75]
...          ...  ...                ...
1921       10317  ...   (5.999, 2047.75]
1922       27962  ...   (5.999, 2047.75]
1923       19785  ...   (5.999, 2047.75]
1924       26373  ...   (5.999, 2047.75]
1925       28758  ...   (5.999, 2047.75]

[1926 rows x 10 columns]

In [41]:
df['bin_code'] = df['bins'].cat.codes

In [42]:
df

      officer_id  ... bin_code
0          16061  ...        1
1          25864  ...        1
2          23361  ...        1
3          21210  ...        0
4          16338  ...        0
...          ...  ...      ...
1921       10317  ...        0
1922       27962  ...        0
1923       19785  ...        0
1924       26373  ...        0
1925       28758  ...        0

[1926 rows x 11 columns]

In [62]:
bin_group = df.groupby(df['bin_code'])

In [63]:
# Time of employment in the range of (5.999, 2047.75) days ~ up to 5 years 7 months
bin_group.get_group(0)

      officer_id  ... bin_code
3          21210  ...        0
4          16338  ...        0
8           8690  ...        0
14          4978  ...        0
16         31298  ...        0
...          ...  ...      ...
1921       10317  ...        0
1922       27962  ...        0
1923       19785  ...        0
1924       26373  ...        0
1925       28758  ...        0

[482 rows x 11 columns]

In [64]:
# Time of employment in the range of (2047.75, 3918.0) days ~ between 5 years 7 months and 10 years 9 months
bin_group.get_group(1)

      officer_id  ... bin_code
0          16061  ...        1
1          25864  ...        1
2          23361  ...        1
9          30599  ...        1
19         10273  ...        1
...          ...  ...      ...
1897       23566  ...        1
1903       31242  ...        1
1907        2022  ...        1
1908        8059  ...        1
1912       12040  ...        1

[481 rows x 11 columns]

In [65]:
# Time of employment in the range of (3918.0, 6032.5) days ~ between 10 years 9 months and 16 years 6 months
bin_group.get_group(2)

      officer_id  ... bin_code
5          27176  ...        2
6          14739  ...        2
7          26865  ...        2
11         21479  ...        2
12         20651  ...        2
...          ...  ...      ...
1893       22838  ...        2
1899       32330  ...        2
1902       28821  ...        2
1904        4599  ...        2
1910       18989  ...        2

[481 rows x 11 columns]

In [68]:
# Time of employment in the range of (6032.5, 14423.0) days ~ between 16 years 6 months and 39 years 5 months
bin_group.get_group(3)

      officer_id  ... bin_code
10         25442  ...        3
18         31631  ...        3
27         19485  ...        3
28         29236  ...        3
33          3383  ...        3
...          ...  ...      ...
1873       20418  ...        3
1894        7208  ...        3
1895       25440  ...        3
1900       29575  ...        3
1909       28759  ...        3

[482 rows x 11 columns]

In [66]:
bin_group.compound.count()

bin_code
0    482
1    481
2    481
3    482
Name: compound, dtype: int64

In [67]:
bin_group.compound.mean()

bin_code
0   -0.763613
1   -0.800647
2   -0.781778
3   -0.737321
Name: compound, dtype: float64

In [69]:
bin_group.compound.median()

bin_code
0   -0.95205
1   -0.95490
2   -0.93200
3   -0.89410
Name: compound, dtype: float64

In [70]:
bin_group.compound.std()

bin_code
0    0.425798
1    0.358609
2    0.362523
3    0.401559
Name: compound, dtype: float64